html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.eminmen{
  display: flex;
  height: 100%;
}
.icon_side_container{
  width: 100px;
  background-color: salmon;

}
.icon1{
  width: 60px;
  height: 60px;
  margin: 14px;
  background-color: white;

}
.icon1 img{
  width: 60px;
}

.icon2{
  width: 60px;
  height: 60px;
  margin: 14px;
  background-color: white;

}
.icon2 img{
  width: 60px;
  cursor: pointer;
}

.group-list-wrapper{
  width: 300px;
  display: flex;
  flex-direction: column;
  background: lightsalmon
}
.input_field{
  padding-bottom: 18px;
}

.channel-inner-header-wrap2 {
  display: flex;
  align-items: center;
}
.channel-inner-header-wrap2 svg {
  cursor: pointer;
}
.message_container{
  padding-top: 1px;
  width: 40%;
  background-color: lightblue;
  border-radius: 10px;
  margin-bottom: 25px;

}
.userName_message {
  color: crimson;
}