html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.eminmen{
  display: flex;
  height: 100%;
}
.icon_side_container{
  width: 100px;
  background-color: salmon;

}
.icon1{
  width: 60px;
  height: 60px;
  margin: 14px;
  background-color: white;

}
.icon1 img{
  width: 60px;
}

.icon2{
  width: 60px;
  height: 60px;
  margin: 14px;
  background-color: white;

}
.icon2 img{
  width: 60px;
  cursor: pointer;
}
.icon3{
  width: 60px;
  height: 60px;
  margin: 14px;
  background-color: white;

}
.icon3 img{
  width: 60px;
  cursor: pointer;
}


.group-list-wrapper{
  width: 300px;
  display: flex;
  flex-direction: column;
  background: lightsalmon
}
.input_field{
  padding-bottom: 18px;
}

.channel-inner-header-wrap2 {
  display: flex;
  align-items: center;
}
.channel-inner-header-wrap2 svg {
  cursor: pointer;
}
.message_container_user{
  margin-left: 44%;
  display: flex;
  flex-direction: column;
  padding-top: 1px;
  width: 40%;
  background-color: lightblue;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-left: 1%;
  padding-bottom: 1%;


}

.message_container_other{
  display: flex;
  padding-top: 1px;
  width: 40%;
  background-color: lightgreen;
  border-radius: 10px;
  margin-bottom: 25px;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 1%;
  padding-left: 1%;
  padding-bottom: 1%;

}
.message_other{
  color: crimson;
}
.message_user {
  color: green;
}
 /***** Tooltips ******/

 .icon2 span{
  visibility: hidden;
  width: 200;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 6px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 60px;
 }

 .icon2:hover .optionsTooltip{
     visibility: visible;
     
 }

  .icon3 span{
  visibility: hidden;
  width: 200;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 6px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 135px;
 }

 .icon3:hover .optionsTooltip2{
     visibility: visible;
     
 }

 .addButtonHolder_Channels span{
  visibility: hidden;
  width: 200;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 6px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 80px;
 }

 .addButtonHolder_Channels:hover .addToolTip_Channels{
     visibility: visible;   
 }

 .addButtonHolder_DirectMessages span{
  visibility: hidden;
  width: 200;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 6px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 398px;
 }

 .addButtonHolder_DirectMessages:hover .addToolTip_DirectMessages{
     visibility: visible;   
 }

  .channelInfoHolder span{
  visibility: hidden;
  width: 200;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 6px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 40px;
 }

 .channelInfoHolder:hover .channelInfoToolTip{
     visibility: visible;   
 }